@media only screen and (max-width: 1440px) {
  .channel {
    width: 40%;
  }
}

@media only screen and (max-width: 1080px) {
  /* For mobile phones: */
  .channel {
    width: 90%;
  }
  #headline {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .btn-row {
    display: block;
    justify-content: center;
    margin-top: 4rem;
    grid-gap: 2rem;
    max-width: 600px;
    align-items: center;
    text-align: center;
  }
  .btn {
    margin-bottom: 1.5rem;
    max-width: 300px;
  }
  nav {
    display: none;
  }
  .logo {
    display: flex;
    cursor: pointer;
    margin: auto;
  }
  #headline {
    display: none;
  }
  .open {
    height: 90vh;
    background-attachment: scroll;
  }
  /* .open-container {
    height: 80%;
  } */
  .open-text {
    margin-top: 2rem;
  }

  .popup .contents {
    width: 90vw;
    height: 83vh;
    margin-top: 3vh;
  }
  .popup .contents p {
    font-size: 70%;
  }
}
@media only screen and (max-width: 380px) {
  /* For mobile phones: */
  .logo {
    font-size: 1.5rem;
  }
  .chan-title-pop {
    font-size: 75%;
  }
  .popup .contents p {
    font-size: 65%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .popup .contents {
    width: 92vw;
    height: 85vh;
  }
  .bigwrapper {
    height: 80%;
  }
}
